.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.section {
  margin-top: 40px;
}

aside {
    background: #72b3d6;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;    
}

body {
    margin: 0 0.3em;
}

label {
    font-weight: bold;
}

label.pure-checkbox {
    font-weight: normal;
}

.pure-checkbox {
    text-align: left;
}