.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.section {
  margin-top: 60px;
}

aside {
      background: #1f8dd6;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}